.thumb {
  display: flex;
}

.information {
  margin-left: 20px;
}

.filmTitle {
  margin-top: 0px;
}

.additional {
  display: flex;
  flex-direction: column;
}

.button {
  margin-bottom: 10px;
}

.moreInfo {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moreInfo:hover,
.moreInfo:focus {
  color: coral;
}
